* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #5a5d72;
  font-family: proxima-nova, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  margin: 0;
  text-rendering: optimizeLegibility;
}

a {
  color: #1ba1e2;
  text-decoration: none;
}

/* Navbar styles */

header {
  /* source @ https://stijndewitt.com/2018/06/12/pure-css-drop-shadow-on-scroll/ */
  position: sticky;
  top: -16px;
  z-index: 1;
  color: white;
  text-align: center;
  -webkit-backface-visibility: hidden;
}

header::before,
header::after {
  content: '';
  display: block;
  height: 16px;
  position: sticky;
  -webkit-position: sticky;
}

header::before {
  top: 44px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

header::after {
  top: 0;
  background: #fff;
  z-index: 2;
}

.navbar {
  color: #5a5d72;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #cfcfcf;
  display: flex;
  left: 0;
  padding: 10px 100px;
  width: 100vw;
  position: sticky;
  top: 0px;
  margin-top: -16px;
  z-index: 3;
}

.navbar > * {
  margin: 0;
}

.navbar .push {
  margin-left: auto;
}

.navbar input[type='checkbox'] {
  display: none;
}

select, .navbar label, .navbar a.btn {
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  height: 32px;
  color: inherit;
  justify-content: center;
  margin-left: 5px;
  user-select: none;
}

.navbar label, .navbar a.btn {
  width: 32px;
}

select:hover,
.navbar a.btn:hover,
.navbar label:hover {
  background-color: #eaeaea;
}

select:hover,
.navbar a.btn:hover {
  color: #1ba1e2;
}

.navbar input:checked + label[for='paintcan'] {
  color: #1ba1e2;
}

.navbar input:checked + label[for='flame'] {
  color: #ff8e00;
}

.navbar input:checked + label[for='dark'] {
  color: #b5479d;
}

.navbar .spacer {
  border-left: 1px solid #dcdcdc;
  height: 26px;
  margin-left: 15px;
  margin-right: 10px;
}

/* select styles */

select {
	appearance: none;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  width: 160px;
  border: 0;
  padding-left: 10px;
}

select::-ms-expand {
	display: none;
}

select:focus {
	box-shadow: none;
	color: #222;
	outline: none;
}

/* Digraph styles */

.digraph {
  align-items: center;
  display: flex;
}

.digraph > * {
  margin-right: 150px;
}

/* editor page styles */

.grid-container {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: 63px 1fr;
  gap: 0px 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  grid-template-areas:
    "header header"
    "sidebar render";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid #dcdcdc;
}

.render {
  grid-area: render;
}

/* source @ https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 14px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
